
<div class="col-md-12 p-4">
    <p-card header="Основные данные" class="m-2">
        <form 
            name="form"
            (ngSubmit)="saveData()"
            #f="ngForm"
            novalidate
        >
            <div class="col-md-12">
                <div *ngFor="let col of columns" [hidden]="!col.show">
                    <div [ngSwitch]="col.data_type">
                        <div class="field" *ngSwitchCase="'object'">
                            <label for="{{col.name}}" class="block">{{col.header}}</label><br>
                            <p-autoComplete field="name"
                                [dropdown]="true"
                                [multiple]="false"
                                [suggestions]="col.data" 
                                (completeMethod)="search($event, col)"
                                [required] = "col.required"
                                [(ngModel)]="form[col.name]"
                                #[col.name]="ngModel"
                                name="{{col.name}}"
                                id="{{col.name}}" 
                                [ngClass]="{'ng-invalid ng-dirty' : col.errors?.length > 0 && f.submitted}" 
                                [style]="{'width':'100%'}"
                                placeholder="{{col.header}}"></p-autoComplete>
                            <div *ngIf="col.errors?.length > 0 && f.submitted">
                                <small id="help" class="p-error block">{{col.header}} обязательное поле</small>
                            </div>
                        </div>
                        <div class="field" *ngSwitchCase="'array'">
                            <label for="{{col.name}}" class="block">{{col.header}}</label><br>
                            <p-autoComplete field="name"
                                [dropdown]="true"
                                [multiple]="true"
                                [suggestions]="col.data" 
                                (completeMethod)="search($event, col)"
                                [required] = "col.required"
                                [(ngModel)]="form[col.name]"
                                #[col.name]="ngModel"
                                name="{{col.name}}"
                                id="{{col.name}}" 
                                [ngClass]="{'ng-invalid ng-dirty' : col.errors?.length > 0 && f.submitted}" 
                                [style]="{'width':'100%'}"
                                placeholder="{{col.header}}"></p-autoComplete>
                            <div *ngIf="col.errors?.length > 0 && f.submitted">
                                <small id="help" class="p-error block">{{col.header}} обязательное поле</small>
                            </div>
                        </div>
                        <div class="field" *ngSwitchCase="'files'" [hidden]="!form['_id']">
                            <label for="test" class="block">{{col.header}}</label>
                            <p-fileUpload name="myfile[]" [customUpload]="true" 
                                        (uploadHandler)="onUpload($event)"></p-fileUpload>

                        </div>
                        <div class="field" *ngSwitchDefault>
                            <label for="test" class="block">{{col.header}}</label>
                            <input 
                                type="text"
                                name="{{col.name}}"
                                [(ngModel)]="form[col.name]"
                                #[col.name]="ngModel"
                                [required] = "col.required"
                                id="{{col.name}}" 
                                aria-describedby="help" 
                                class="w-100"
                                [ngClass]="{'ng-invalid ng-dirty' : col.errors?.length > 0 && f.submitted}" 
                                pInputText />
                            <div *ngIf="col.errors?.length > 0 && f.submitted">
                                <small id="help" class="p-error block">{{col.header}} обязательное поле</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button pButton pRipple type="sumbit" label="Сохранить" class="btn-linen p-button-raised p-button-text "></button>
            </div>
        </form>
    </p-card>

    <p-card header="Дочернии данные" class="m-2" *ngIf="institution._id">
        
            <p-tabView >
                <p-tabPanel>
                    <ng-template pTemplate = "header">
                        <span>Блюда и напитки</span>
                    </ng-template>
                    <meal [institution]="institution"></meal>
                </p-tabPanel>
                <p-tabPanel *ngIf="institution.institution_type == '626a7c8db9345a3eabbda8e2' || institution.institution_type == '626a7c93b9345a3eabbda8e9'">
                    <ng-template pTemplate = "header">
                        <span>Столы</span>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel *ngIf="institution.institution_type == '626a7c86b9345a3eabbda8db'">
                    <ng-template pTemplate = "header">
                        <span>Залы</span>
                    </ng-template>
                </p-tabPanel>
            </p-tabView>
    </p-card>
</div>