<div class="footer">
  <div class="footer-img">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/05618056770601.5ab0ad63e4b0c.gif" alt="logo"/>
  </div>
  <div class="footer-content">
    <div>
      <h4>Обзор</h4>
      <ul>
        <li>
          <a href=""></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <p>@Copyright Shametov Kuanysh. ReservEat.</p>
  </div>
</div>