.footer {
    background-color: darkcyan;
    width: 100%;
    padding: 20px;
}

.footer-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    align-items: center;
    color: linen;
    font-size: 15px;
    text-decoration: none;
}

.footer-content > ul {
    list-style-type: none;
}

.footer-copyright {
    text-align: center;
    color: linen;
}

.footer-img > img{
    width: 10%;
}