<div class="col-md-12">
    <div *ngIf="show_add">
        <button pButton pRipple type="button" (click)="addNew()" label="Создать" class="btn-linen p-button-raised p-button-text "></button>
    </div>
    <p-table [value]="data" [lazy]="true" (onLazyLoad)="loadData($event)" responsiveLayout="scroll" dataKey="_id"
            [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading" [columns]="columns" >
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns" [hidden]="!col.show">
                    {{col.header}}
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" [hidden]="!col.show">
                    <div [ngSwitch]="col.data_type">
                        <div *ngSwitchCase="'object'">
                            {{rowData[col.name] ? rowData[col.name].fieldToShow : "-"}}
                        </div>
                        <div *ngSwitchCase="'array'">
                            <div *ngFor="let data of rowData[col.name]">
                                {{data[col.fieldToShow] ? data[col.fieldToShow] : "-"}}
                            </div>
                        </div>
                        <div *ngSwitchDefault>
                            {{rowData[col.name] ? rowData[col.name] : "-"}}
                        </div>
                    </div>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="btn-icons p-button-rounded p-button-success mr-2" (click)="edit(rowData)"></button>
                    <button *ngIf="show_delete" pButton pRipple icon="pi pi-trash" class="btn-icons p-button-rounded p-button-success mr-2" (click)="delete(rowData)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="showDetail" [style]="{width: '700px'}" [closable]="true" header="Изменение данных" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form 
        name="form"
        (ngSubmit)="saveData()"
        #f="ngForm"
        novalidate
      >
        <div class="col-md-12">
            <div *ngFor="let col of columns">
                <div [ngSwitch]="col.data_type" *ngIf="col.show">
                    <div class="field" *ngSwitchCase="'object'">
                        <label for="{{col.name}}" class="block">{{col.header}}</label>
                        <p-autoComplete field="name"
                            [dropdown]="true"
                            [multiple]="false"
                            [suggestions]="col.data" 
                            (completeMethod)="search($event, col)"
                            [required] = "col.required"
                            [(ngModel)]="form[col.name]"
                            #[col.name]="ngModel"
                            name="{{col.name}}"
                            id="{{col.name}}" 
                            [ngClass]="{'ng-invalid ng-dirty' : col.errors?.length > 0 && f.submitted}" 
                            class="w-100"
                            placeholder="{{col.header}}"></p-autoComplete>
                        <div *ngIf="col.errors?.length > 0 && f.submitted">
                            <small id="help" class="p-error block">{{col.header}} обязательное поле</small>
                        </div>
                    </div>
                    <div class="field" *ngSwitchCase="'array'">
                        <label for="{{col.name}}" class="block">{{col.header}}</label>
                        <p-autoComplete field="name"
                            [dropdown]="true"
                            [multiple]="true"
                            [suggestions]="col.data" 
                            (completeMethod)="search($event, col)"
                            [required] = "col.required"
                            [(ngModel)]="form[col.name]"
                            #[col.name]="ngModel"
                            name="{{col.name}}"
                            id="{{col.name}}" 
                            [ngClass]="{'ng-invalid ng-dirty' : col.errors?.length > 0 && f.submitted}" 
                            class="w-100"
                            placeholder="{{col.header}}"></p-autoComplete>
                        <div *ngIf="col.errors?.length > 0 && f.submitted">
                            <small id="help" class="p-error block">{{col.header}} обязательное поле</small>
                        </div>
                    </div>
                    <div class="field" *ngSwitchCase="'files'" [hidden]="!form['_id']">
                        <label for="test" class="block">{{col.header}}</label>
                        <p-galleria [value]="form['_files']" [containerStyle]="{'max-width': '640px','margin-top': '2em'}" [numVisible]="5"
                            [showThumbnails]="false" [showIndicators]="true" [changeItemOnIndicatorHover]="true" [showIndicatorsOnItem]="true" indicatorsPosition="left">
                            <ng-template pTemplate="item" let-item>
                                <img [src]="item.url" style="width: 100%; display: block;" />
                            </ng-template>
                            <ng-template pTemplate="thumbnail" let-item>
                                <div class="grid grid-nogutter justify-content-center">
                                    <img [src]="item.url" style="display: block;" />
                                </div>
                            </ng-template>
                        </p-galleria>
                        <p-fileUpload name="myfile[]" [customUpload]="true" 
                                    (uploadHandler)="onUpload($event)"></p-fileUpload>

                    </div>
                    <div class="field" *ngSwitchDefault>
                        <label for="test" class="block">{{col.header}}</label>
                        <input 
                            type="text"
                            name="{{col.name}}"
                            [(ngModel)]="form[col.name]"
                            #[col.name]="ngModel"
                            [required] = "col.required"
                            id="{{col.name}}" 
                            aria-describedby="help" 
                            class="w-100"
                            [ngClass]="{'ng-invalid ng-dirty' : col.errors?.length > 0 && f.submitted}" 
                            pInputText />
                        <div *ngIf="col.errors?.length > 0 && f.submitted">
                            <small id="help" class="p-error block">{{col.header}} обязательное поле</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
          <button pButton pRipple type="submit" label="Сохранить" class="btn-linen p-button-raised p-button-text "></button>
        </div>
      </form>
    </ng-template>
</p-dialog>