<div class="col-md-12 d-flex justify-content-center">
  <p-card header="Регистрация" [style]="{'width': '50rem', 'margin': '2em'}">
    <form 
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="d-flex justify-content-around">
        <div class="col-md-6">
          <div class="field">
            <label for="first_name" class="block">Имя</label>
            <input 
              type="text"
              name="first_name"
              [(ngModel)]="form.first_name"
              required
              #first_name="ngModel"
              id="first_name" 
              aria-describedby="first_name-help" 
              class="w-100"
              [ngClass]="{'ng-invalid ng-dirty' : first_name.errors && f.submitted}" 
              pInputText />
            <div *ngIf="first_name.errors && f.submitted">
              <small  *ngIf="first_name.errors['required']" id="first_name-help" class="p-error block">Имя обязательное поле</small>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="field">
            <label for="last_name" class="block">Фамилия</label>
            <input 
              type="text"
              name="last_name"
              [(ngModel)]="form.last_name"
              required
              #last_name="ngModel"
              id="last_name" 
              aria-describedby="last_name-help" 
              class="w-100"
              [ngClass]="{'ng-invalid ng-dirty' : last_name.errors && f.submitted}" 
              pInputText />
            <div *ngIf="last_name.errors && f.submitted">
              <small *ngIf="last_name.errors['required']" id="last_name-help" class="p-error block">Фамилия обязательное поле</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="field">
          <label for="email" class="block">Почта</label>
          <input 
            type="email"
            name="email"
            [(ngModel)]="form.email"
            required
            #email="ngModel"
            id="email" 
            aria-describedby="email-help" 
            class="w-100"
            [ngClass]="{'ng-invalid ng-dirty' : email.errors && f.submitted}" 
            pInputText />
          <div *ngIf="email.errors && f.submitted">
            <small *ngIf="email.errors['required']" id="email-help" class="p-error block">Почта обязательное поле</small>
            <small *ngIf="email.errors['email']" id="email-help" class="p-error block">Введите корректный адрес почты</small>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="field">
          <label for="login" class="block">Логин</label>
          <input 
            type="text"
            name="login"
            [(ngModel)]="form.login"
            required
            #login="ngModel"
            id="login" 
            minlength="3"
            maxlength="20"
            aria-describedby="login-help" 
            class="w-100"
            [ngClass]="{'ng-invalid ng-dirty' : login.errors && f.submitted}" 
            pInputText />
          <div *ngIf="login.errors && f.submitted">
            <small *ngIf="login.errors['required']" id="login-help" class="p-error block">Логин обязательное поле</small>
            <small *ngIf="login.errors['minlength']" id="login-help" class="p-error block">Логин должен содержать более 3 символов</small>
            <small *ngIf="login.errors['maxlength']" id="login-help" class="p-error block">Логин должен быть менее 20 символов</small>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="field">
          <label for="password" class="block">Пароль</label>
          <input 
            type="password"
            name="password"
            [(ngModel)]="form.password"
            required
            #password="ngModel"
            id="password" 
            minlength="3"
            aria-describedby="password-help" 
            class="w-100"
            [ngClass]="{'ng-invalid ng-dirty' : password.errors && f.submitted}" 
            pInputText />
          <div *ngIf="password.errors && f.submitted">
            <small *ngIf="password.errors['required']" id="password-help" class="p-error block">Пароль обязательное поле</small>
            <small *ngIf="password.errors['minlength']" id="password-help" class="p-error block">Пароль должен содержать более 6 символов</small>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button pButton pRipple type="sumbit" label="Зарегистрироваться" class="btn-linen p-button-raised p-button-text "></button>
      </div>
    </form>
  </p-card>
</div>