<div class="col-md-12 d-flex justify-content-center">
  <p-card header="Войти" [style]="{'width': '50rem', 'margin': '2em'}">
    <form 
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="col-md-12">
        <div class="field">
          <label for="login" class="block">Логин</label>
          <input 
            type="text"
            name="login"
            [(ngModel)]="form.login"
            required
            #login="ngModel"
            id="login" 
            minlength="3"
            maxlength="20"
            aria-describedby="login-help" 
            class="w-100"
            [ngClass]="{'ng-invalid ng-dirty' : login.errors && f.submitted}" 
            pInputText />
          <div *ngIf="login.errors && f.submitted">
            <small *ngIf="login.errors['required']" id="login-help" class="p-error block">Логин обязательное поле</small>
            <small *ngIf="login.errors['minlength']" id="login-help" class="p-error block">Логин должен содержать более 3 символов</small>
            <small *ngIf="login.errors['maxlength']" id="login-help" class="p-error block">Логин должен быть менее 20 символов</small>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="field">
          <label for="password" class="block">Пароль</label>
          <input 
            type="password"
            name="password"
            [(ngModel)]="form.password"
            required
            #password="ngModel"
            id="password" 
            minlength="3"
            aria-describedby="password-help" 
            class="w-100"
            [ngClass]="{'ng-invalid ng-dirty' : password.errors && f.submitted}" 
            pInputText />
          <div *ngIf="password.errors && f.submitted">
            <small *ngIf="password.errors['required']" id="password-help" class="p-error block">Пароль обязательное поле</small>
            <small *ngIf="password.errors['minlength']" id="password-help" class="p-error block">Пароль должен содержать более 6 символов</small>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button pButton pRipple type="sumbit" label="Войти" class="btn-linen p-button-raised p-button-text "></button>
      </div>
    </form>
  </p-card>
</div>
