<p-toast position="top-right" [baseZIndex]="10000000"></p-toast>
<div id="app">
  <app-navbar [isLogged] = "isLoggedIn" [username] = "username"></app-navbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
