<div class="header p-2 card">
  <div class="header-logo">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/05618056770601.5ab0ad63e4b0c.gif" alt="logo"/>
  </div>
  <div class="header-content">
    <div><a href="/cinema">Кинотеатры</a></div>
    <div><a href="/restaurant">Рестораны</a></div>
    <div><a href="/cafe">Кафе</a></div>
  </div>
  <div class="header-buttons">
    <div *ngIf="!isLogged">
      <a href="/login" routerLink="login" class="btn-link">Войти</a>
      <a href="/register" routerLink="register" class="btn-link">Регистрация</a>
    </div>
    <div *ngIf="isLogged">
      <a href="/profile" class="btn-link" routerLink="profile"><i class="pi pi-id-card"></i></a>
      <a (click)="logout()" class="btn-link"><i class="pi pi-sign-out"></i></a>
      <a *ngIf="isAdmin" href="/admin" routerLink="admin" class="btn-link"><i class="pi pi-cog"></i></a>
    </div>
  </div>
</div>