.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 20px;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.header-logo {
    width: 20%;
}

.header-logo > img {
    width: 50%;
}

.header-content {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content > div > a {
    color: darkcyan;
    text-decoration: none;
    letter-spacing: 2px;
}