<div class="col-md-12">
    <p-card header="Основные" class="m-2">
        <button pButton pRipple type="button" (click)="addInstitution()" label="Создать" class="btn-linen p-button-raised p-button-text "></button>
        <div class="w-100 d-flex flex-wrap">
            <div *ngFor="let institution of institutions" [style]="{'width':'33%'}" class="m-2">
                <p-card header="{{institution.name}}" subheader="Детали" styleClass="p-card-shadow w-100">
                    <ng-template pTemplate="header">
                        <img alt="logo" src="">
                    </ng-template>
                    <p>{{institution.description}}</p>
                    <p>{{institution.cost}}</p>
                    <p>{{institution.time}}</p>
                    <p>{{institution.address}}</p>
                    <ng-template pTemplate="footer">
                        <a (click)="openDetail(institution)" class="btn-link"><i class="pi pi-pencil"></i></a>
                        <a (click)="blockInstitution()" class="btn-link"><i class="pi pi-lock"></i></a>
                    </ng-template>
                </p-card>
            </div>
            
        </div>
    </p-card>

    <p-card header="Справочники и пользователи" class="m-2">
        <p-tabView >
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span>Пользователи</span>
                </ng-template>
                <admin-table [table_name]="'user'"></admin-table>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span>Компании</span>
                </ng-template>
                <admin-table [table_name]="'company'" [show_add]="true" [show_delete] = "true"></admin-table>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span>Статусы заказов</span>
                </ng-template>
                <admin-table [table_name]="'orderstatus'" [show_add]="true" [show_delete] = "true"></admin-table>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <span>Типы заведений</span>
                </ng-template>
                <admin-table [table_name]="'institutiontype'" [show_add]="true" [show_delete] = "true"></admin-table>
            </p-tabPanel>
        </p-tabView>
    </p-card>
</div>