/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(245, 245, 245);
}

.btn-linen {
    margin: 10px 0 !important;
    background: linen !important;
    color: darkcyan !important;
    border-radius: 5px !important;
    box-shadow:none !important;
}

.btn-link {
    padding: 10px 20px;
    margin: 10px 20px;
    background: linen;
    color: darkcyan;
    border-radius: 5px;
    box-shadow:none;
    cursor: pointer;
}

.btn-icons {
    background: linen !important;
    color: darkcyan !important;
    border: none !important;
}

.btn-link:hover,.btn-link:focus  {
    text-decoration: none;
    color: darkcyan;
}

.p-tabview .p-tabview-nav {
    border: none !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: darkcyan !important;
    border-color: darkcyan !important;
    font-weight: normal !important;
    text-decoration: none !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: solid transparent !important;
    border-width: 0 0 2px 0 !important;
    color: darkcyan !important;
    border-color: transparent !important;
    font-weight: normal !important;
}

.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    border-color: transparent !important;
    color: darkcyan !important;
    text-decoration: none !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none !important;
}